
      <div class="">
        <h5 class="" id="">Friend Request from <%= "#{object.full_name}" %></h5>
      </div>      
      <div class="">
        <%= link_to accept_friend_user_friendships_path(object) do %>
          <button type="button" class="btn btn-accept text-black font-weight-bold"> <i class="fas fa-user-check"></i> Accept</button>
        <% end %>
        <%= link_to decline_friend_user_friendships_path(object) do %>
          <button type="button" class="btn btn-decline text-black font-weight-bold"><i class="fas fa-user-times"></i> Decline</button>
        <% end %>
      </div>
 
